In [4]:
# Setup code and import libraries
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import re as re
import matplotlib.pyplot as plt
#* from matplotlib import pyplot as plt

np.random.seed(12345) 
plt.rc('figure', figsize=(10, 6)) # adjusts the default figure size for Matplotlib plots
np.set_printoptions(precision=4, suppress=True) 
pd.options.display.max_rows = 6 

'''from bs4 import BeautifulSoup 
imports the BeautifulSoup class from the bs4 module, which is part of the Beautiful Soup library. Beautiful Soup is a Python library used for web scraping and parsing HTML and XML documents.'''

'''import re
This imports the regular expression module, which provides support for working with regular expressions in Python. Regular expressions are used for pattern matching and string manipulation.'''

'''np.random.seed(12345)
When you set a random seed, subsequent calls to random number generation functions will produce the same sequence of random numbers.'''

'''np.set_printoptions(precision=4, suppress=True) 
precision=4 sets the precision for floating-point numbers to 4 decimal places 

suppress=4 suppresses the printing of small floating-point values in scientific notation. When set to True, NumPy will print floating-point numbers in fixed-point notation instead of scientific notation.
'''

'''display.max_rows = 6 
sets the maximum number of rows displayed when printing Pandas DataFrame or Series objects to 6 rows.'''

'display.max_rows = 6 \nsets the maximum number of rows displayed when printing Pandas DataFrame or Series objects to 6 rows.'

In [10]:
import requests # The requests library is commonly used for making HTTP requests in Python
import io

# get data from the website link i.e make a GET request
r = requests.get('https://raw.githubusercontent.com/tidyverse/tidyr/master/data-raw/relig_income.csv')

print(r) 

snippet = pd.read_csv(filepath_or_buffer=io.StringIO(r.text))

snippet

# r.text: This is the attribute of the response object r obtained from the requests.get() method. It contains the text content of the response received from the website. In this case, the text content is assumed to be in CSV format.

# io.StringIO() Allows the text content(r.text) to be treated as a file-like object, that can be passed to functions expecting a file-like input

#* By using io.StringIO(r.text) as the source for reading the CSV data, we are effectively treating the text content obtained from the HTTP response as if it were a file, allowing us to parse it using pd.read_csv() without having to save it to a physical file first.

<Response [200]>

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
...,...,...,...,...,...,...,...,...,...,...,...
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [ ]:
pd.melt(snippet, id_vars='religion', var_name='income', value_name='count')