# Setup and import libraries

In [38]:
# Setup code and import libraries
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import re as re
import matplotlib.pyplot as plt
#* from matplotlib import pyplot as plt

np.random.seed(12345) 
plt.rc('figure', figsize=(10, 6)) # adjusts the default figure size for Matplotlib plots
np.set_printoptions(precision=4, suppress=True) 
pd.options.display.max_rows = 6 

'''from bs4 import BeautifulSoup 
imports the BeautifulSoup class from the bs4 module, which is part of the Beautiful Soup library. Beautiful Soup is a Python library used for web scraping and parsing HTML and XML documents.'''

'''import re
This imports the regular expression module, which provides support for working with regular expressions in Python. Regular expressions are used for pattern matching and string manipulation.'''

'''np.random.seed(12345)
When you set a random seed, subsequent calls to random number generation functions will produce the same sequence of random numbers.'''

'''np.set_printoptions(precision=4, suppress=True) 
precision=4 sets the precision for floating-point numbers to 4 decimal places 

suppress=4 suppresses the printing of small floating-point values in scientific notation. When set to True, NumPy will print floating-point numbers in fixed-point notation instead of scientific notation.
'''

'''display.max_rows = 6 
sets the maximum number of rows displayed when printing Pandas DataFrame or Series objects to 6 rows.'''

'display.max_rows = 6 \nsets the maximum number of rows displayed when printing Pandas DataFrame or Series objects to 6 rows.'

In [6]:
import requests # The requests library is commonly used for making HTTP requests in Python
import io

# get data from the website link i.e make a GET request
r = requests.get('https://raw.githubusercontent.com/tidyverse/tidyr/master/data-raw/relig_income.csv')

print(r) 

snippet = pd.read_csv(filepath_or_buffer=io.StringIO(r.text))

snippet

# r.text: This is the attribute of the response object r obtained from the requests.get() method. It contains the text content of the response received from the website. In this case, the text content is assumed to be in CSV format.

# io.StringIO() Allows the text content(r.text) to be treated as a file-like object, that can be passed to functions expecting a file-like input

#* By using io.StringIO(r.text) as the source for reading the CSV data, we are effectively treating the text content obtained from the HTTP response as if it were a file, allowing us to parse it using pd.read_csv() without having to save it to a physical file first.

<Response [200]>

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
...,...,...,...,...,...,...,...,...,...,...,...
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

# pd.melt()

In [35]:
pd.melt(snippet, id_vars='religion', var_name='income', value_name='count')

                  religion              income  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
..                     ...                 ...    ...
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

# Regular expressions

| Special Characters | Explanation | Example of matches |
| --- | --- | --- |
| `.` | This character will match against anything. It is essentially a wild card. By default, Python doesn't include new lines. | The regex `".a"` will match the following. `"aa"`, `"Aa"`, `"ba"`, `"Ba"`, `"ca"`, `"da"`, etc. But, it will also match strings like `"aaa"`, `"Aat"`, `"taa"` because the regex is matching for *substrings*.|
|`^` | Matches the start of the string. | The regex `"^s.a"` will match the following. `"saa"`, `"sAa"`, `"sba"`, `"sBa"`, `"sca"`, `"sda"`, etc. But, it will not match `"asda"` because the string starts with `"a"`. |
| `$` | Matches the end of the string or just before the newline at the end of the string. |The regex `"$a"` will match the following. `"aa"`, `"Aa"`, `"ba"`, `"Ba"`, `"ca"`, `"da"`, etc. |
| `?` | Matches 0 or 1 occurrences of a string. | The regex `"columns?"` will match both `"column"` and its plural, `"columns"`. |
| `*` | Matches 0 or more occurrences of a string. | The regex `"11*"` will match `"1"` or any consecutive sequences of ones. |
| `\` | Escapes special characters, allowing them to be used for matching. | `"."` matches any character, but `"\."` matches any string containing a period. |
| &#124; | Matches either the first or the second character, but not both nor neither. | `"^a&#124;b$"` only matches the strings `"a"` and `"b"`. |
|`(...)`| Matches the substring as a whole. | The regex "(1 &#124; 0)*" matches any string containing a consecutive binary substring  of the same number or empty string. |
| `[...]` | Allows matching only on characters specified.  | `"[01]*"` matches all binary strings. The repetition (`*`) doesn't reapply on a fixed matched string but on the pattern. |

There are more operators present in the `re` package \cite{Kuchling2018}, but the above operations are present in almost all packages independent of implementation and programming language.

## Example 1: re.split()

In [72]:
wsRegex = re.compile("\s+") # The + means one or more matches. same as '"\s\s*"'

wsRegex = re.compile("\s\s*")
# This string does not use a raw string literal or escape sequences for the backslash. \s represents a whitespace character, and \s* represents zero or more whitespace characters.

wsRegex

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\meddi\AppData\Local\Temp\ipykernel_31240\2879738364.py:1: SyntaxWarning: invalid escape sequence '\s'
  wsRegex = re.compile("\s+") # the plus just means one or more matches. same as '"\s\s*"'
C:\Users\meddi\AppData\Local\Temp\ipykernel_31240\2879738364.py:3: SyntaxWarning: invalid escape sequence '\s'
  wsRegex = re.compile("\s\s*")

re.compile(r'\s\s*', re.UNICODE)

''' \s is a special sequence in regular expressions, not in Python string literals. It represents a whitespace character (such as spaces, tabs, and newlines). To avoid this warning, you can either use a raw string literal by prefixing the string with r, which tells Python not to interpret backslashes as escape characters, or you can double the backslashes to escape them properly within the regular expression pattern.'''

'''re.compile("\s+") returns a regular expression object compiled from the pattern "\s+", which matches one or more whitespace characters. This compiled regular expression object can then be used to perform various operations such as searching, matching, and replacing text based on the defined pattern.'''

In [73]:
wsRegex = re.compile(r"\s+") # raw string literal r"\s+" treats backslashes as literal characters

wsRegex = re.compile("\\s+") # \\ is needed to represent a single backslash \

wsRegex

re.compile(r'\s+', re.UNICODE)

In [89]:
x = "   Hello, World, How are you, today?   "

print(wsRegex.split(x)) # separates on substring matches

# An alternative is to call re.split('\s+', x), where the regular expression is first compiled, then split() is called on the passed text. In our example we chose to compile the regex with re.compile('\s+'), which returns a reusable regex object for faster matching throughput. As such, creating a regex object with re.compile is highly recommended. When applying the same expression on many strings, CPU cycles will be saved from the compilation.

#* Using a pre-compiled regular expression object is more efficient

print(re.split('\\s+', x))

print(x.split()) # discard empty strings from the result

print(x.split(' ')) # separates on character matches

['', 'Hello,', 'World,', 'How', 'are', 'you,', 'today?', '']
['', 'Hello,', 'World,', 'How', 'are', 'you,', 'today?', '']
['Hello,', 'World,', 'How', 'are', 'you,', 'today?']
['', '', '', 'Hello,', 'World,', 'How', 'are', 'you,', 'today?', '', '', '']

## Example 2: re.findall()

In [142]:
x = "IoOo00oOoO0OioIolOoOoiolOO1OOoloo|Ooo0IiooO|1"

rex1 = re.compile('o')

rex2 = re.compile('o+') # matches one or more occurrences of the letter 'o' consecutively

rex3 = re.compile('[oO]') 

rex4 = re.compile('[oO]+') # I think: 'o' or 'O' occurrences, consecutive or non consecutively

# re.findall() # Return a list of all non-overlapping matches in the string.

print(rex1.findall(x))

print(rex2.findall(x)) 

print(rex3.findall(x))

print(rex4.findall(x))

['o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o']
['o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'oo', 'oo', 'oo']
['o', 'O', 'o', 'o', 'O', 'o', 'O', 'O', 'o', 'o', 'O', 'o', 'O', 'o', 'o', 'O', 'O', 'O', 'O', 'o', 'o', 'o', 'O', 'o', 'o', 'o', 'o', 'O']
['oOo', 'oOoO', 'O', 'o', 'o', 'OoOo', 'o', 'OO', 'OOo', 'oo', 'Ooo', 'ooO']

## Example 3: The span() method

The span() method(found in the re module) returns a tuple containing the start and end positions of the match. This method is typically used after performing a match using functions like match(), search(), or findall() from the re module.

In [141]:
rex4 = re.compile('[oO]+')

z = rex4.search(x) # Returns the first match and the index of the start and end of that match

print(z)

print(z.span())

<re.Match object; span=(1, 4), match='oOo'>
(1, 4)

## Example 4: re.sub()

In [146]:
x = "IoOo000OioIIoliol1l1|oo0Ii|1"

rex4 = re.compile('[oO]+')

# sub() replaces every occurrence of a pattern with a string or the result of a function
rex4.sub(string=x, repl=' , ')

'I , 000 , i , II , li , l1l1| , 0Ii|1'

# Missing Data

In [ ]:
dirtyDF = pd.read_csv(filepath_or_buffer= 'examples/ex4.csv', 
                      names=['message','a', 'b', 'c', 'd'],
                      index_col='message')

dirtyDF

In [ ]:
cleanedDF = pd.read_csv(filepath_or_buffer = 'examples/ex4.csv',
                  engine='python',
                  sep=',',
                  # lines containing headers.
                  # Sometimes they can be on multiple lines due to formatting (numbering starts from 0)
                  header=0, 
                  
                  # the names we want to use to index columns
                  names=['message', 'a', 'b', 'c', 'd'], 
                  
                  # what is indexing the columns?
                  index_col=['message'], 
                  
                  # Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file.

                  # we don't skip any rows, only comments.
                  # But this is useful when columns and data separated by whitespace or metadata.
                  # Or if page breaks are in the data.
                  skiprows=[0,2,3,6, 7],  
                  
                  # number of lines to skip from the end of the file. 
                  skipfooter=3,
                  
                  # what values from the columns are actually considered NA or NaN by pandas DataFrames
                  na_values={'a': ['NaN'],
                             'b': ['NaN'],
                             'c': ['NaN'],
                             'd': ['NaN'],
                             'message': ['NA']} 
                 )
cleanedDF

In [143]:
cleanedDF = pd.read_csv(filepath_or_buffer = 'examples/ex4.csv',
                  engine='python',
                  sep=',',
                  header=0, 
                  names=['message', 'a', 'b', 'c', 'd'], 
                  index_col=['message'], 
                  skiprows=[0,2,3,6, 7],  
                  skipfooter=3,
                  na_values={'a': ['NaN'],
                             'b': ['NaN'],
                             'c': ['NaN'],
                             'd': ['NaN'],
                             'message': ['NA']} 
                 )

cleanedDF

          a   b     c      d
message
1         2   3   NaN  hello
5         6   7   8.0  world
9        10  11  12.0    foo

In [144]:
cleanedDF.dropna() # Remove missing values.

          a   b     c      d
message
5         6   7   8.0  world
9        10  11  12.0    foo

In [145]:
# replace NA
cleanedDF.fillna('0')

          a   b     c      d
message
1         2   3     0  hello
5         6   7   8.0  world
9        10  11  12.0    foo

In [146]:
# Detect existing (non-missing) values. Return a boolean same-sized object indicating if the values are not NA.'''
cleanedDF.notnull()

            a     b      c     d
message
1        True  True  False  True
5        True  True   True  True
9        True  True   True  True

Special Case of Imputation

Imputation is the act of filling missing values with substituted values. However, it usually refers to filling missing data with representative values.

In [147]:
# cleanedDF['c'] = 
cleanedDF['c'].fillna(cleanedDF['c'].mean())

message
1    10.0
5     8.0
9    12.0
Name: c, dtype: float64

Don't forget to assign the new value:

In [148]:
cleanedDF['C'] = cleanedDF['c'].fillna(cleanedDF['c'].mean())

# Or alternatively,
# cleanedDF['c'] = cleanedDF['c'].fillna(cleanedDF['c'].median())

cleanedDF

          a   b     c      d     C
message
1         2   3   NaN  hello  10.0
5         6   7   8.0  world   8.0
9        10  11  12.0    foo  12.0

# pd.concat(axis=)

In [150]:
df6 = pd.read_excel("examples/random.numbers.xlsx", index_col=[0])

df6

        Random base  random factor  random add  random exponent
sample
1          0.001196       0.000564    0.482899         0.001570
2          0.131823       0.080914    0.267100         0.245351
3          0.311402       0.154805    0.418073         0.753292
...             ...            ...         ...              ...
27         0.112560       0.059998    0.447564         0.325946
28         0.855819       0.271771    1.772778         0.915513
29         0.945029       0.608312    1.842718         0.962441

[29 rows x 4 columns]

pd.concat(axis=0)

In [151]:
# vertical concatenate along rows
# NOTE: Don't get fooled by the table values. Remember to check dimensions and lengths.  
# all rows are now repeated in sequence, to double the total number of rows
pd.concat([df6, df6], axis=0)

        Random base  random factor  random add  random exponent
sample
1          0.001196       0.000564    0.482899         0.001570
2          0.131823       0.080914    0.267100         0.245351
3          0.311402       0.154805    0.418073         0.753292
...             ...            ...         ...              ...
27         0.112560       0.059998    0.447564         0.325946
28         0.855819       0.271771    1.772778         0.915513
29         0.945029       0.608312    1.842718         0.962441

[58 rows x 4 columns]

pd.concat(axis=1)

In [152]:
# horizontal concatenate along columns. Harder to get fooled here due to the different visual.
# But... How do we distinguish and access one table's columns from another?
pd.concat([df6, df6], axis=1)

,Random base,random factor,random add,random exponent,Random base,random factor,random add,random exponent
sample,,,,,,,,
1,0.001196,0.000564,0.482899,0.001570,0.001196,0.000564,0.482899,0.001570
2,0.131823,0.080914,0.267100,0.245351,0.131823,0.080914,0.267100,0.245351
3,0.311402,0.154805,0.418073,0.753292,0.311402,0.154805,0.418073,0.753292
...,...,...,...,...,...,...,...,...
27,0.112560,0.059998,0.447564,0.325946,0.112560,0.059998,0.447564,0.325946
28,0.855819,0.271771,1.772778,0.915513,0.855819,0.271771,1.772778,0.915513
29,0.945029,0.608312,1.842718,0.962441,0.945029,0.608312,1.842718,0.962441

In [155]:
# horizontal concatenate along columns, with hierarchical index. Now we can distinguish the two tables
pd.concat([df6, df6], axis=1, keys=['f', 's']) 

# keys=['f', 's'] 
#   Assigns the keys 'f' and 's' to the resulting concatenated DataFrames, which will be used to label the multi-level columns.'''

                 f                                                    s  \
       Random base random factor random add random exponent Random base
sample
1         0.001196      0.000564   0.482899        0.001570    0.001196
2         0.131823      0.080914   0.267100        0.245351    0.131823
3         0.311402      0.154805   0.418073        0.753292    0.311402
...            ...           ...        ...             ...         ...
27        0.112560      0.059998   0.447564        0.325946    0.112560
28        0.855819      0.271771   1.772778        0.915513    0.855819
29        0.945029      0.608312   1.842718        0.962441    0.945029


       random factor random add random exponent
sample
1           0.000564   0.482899        0.001570
2           0.080914   0.267100        0.245351
3           0.154805   0.418073        0.753292
...              ...        ...             ...
27          0.059998   0.447564        0.325946
28          0.271771   1.772778        0.915513
29          0.608312   1.842718        0.962441

[29 rows x 8 columns]

# merge( ) and join( )

In [159]:
# randomly ordering
x = df6.sample(frac=1, replace=False) 
y = df6.sample(frac=1, replace=False)

# frac : float, optional
# Fraction of axis items to return. Cannot be used with n.'''

In [157]:
# merge doesn't assume 
j1 = x.merge(y, left_index=True, right_index=True, suffixes=('_x', '_y'), sort=True)

# join assumes joining on the table index
j2 = x.join(other=y, lsuffix='_x', rsuffix='_y', sort=True)
# NOTE: j1 equals j2

'''
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). 

suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string indicating the suffix to add to overlapping column names in left and right respectively.   

sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False, the order of the join keys depends on the join type (how keyword). 
    
lsuffix : str, default '' 
    Suffix to use from left frame's overlapping columns.    
'''

j2

,Random base_x,random factor_x,random add_x,random exponent_x,Random base_y,random factor_y,random add_y,random exponent_y
sample,,,,,,,,
1,0.001196,0.000564,0.482899,0.001570,0.001196,0.000564,0.482899,0.001570
2,0.131823,0.080914,0.267100,0.245351,0.131823,0.080914,0.267100,0.245351
3,0.311402,0.154805,0.418073,0.753292,0.311402,0.154805,0.418073,0.753292
...,...,...,...,...,...,...,...,...
27,0.112560,0.059998,0.447564,0.325946,0.112560,0.059998,0.447564,0.325946
28,0.855819,0.271771,1.772778,0.915513,0.855819,0.271771,1.772778,0.915513
29,0.945029,0.608312,1.842718,0.962441,0.945029,0.608312,1.842718,0.962441

But one will quickly notice the example is similar for all other types of joins. This is due to the 1-to-1 relationship with the index. If we force a size difference between the joining tables, differences in joins will become noticeable (aside from paying attention to the index).

In [ ]:
# same keys and rows, but now has random duplicate and missing rows and index + a size difference.
x = df6.sample(frac=0.5, replace=True)
y = df6.sample(frac=2, replace=True)

'''how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.
    
left: use only keys from left frame, similar to a SQL left outer join; preserve key order.
right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.
cross: creates the cartesian product from both frames, preserves the order of the left keys.'''

# how='right': This specifies that the merge should be a right join, meaning that all rows from DataFrame y will be included in the result, and only the matching rows from DataFrame x will be included. If there are no matches in DataFrame x, NaN values will be filled in for the columns from x.

# each join type
join_left = x.merge(y, left_index=True, right_index=True, suffixes=('_x', '_y'), sort=True, how='left')
join_right = x.merge(y, left_index=True, right_index=True, suffixes=('_x', '_y'), sort=True, how='right')
join_inner = x.merge(y, left_index=True, right_index=True, suffixes=('_x', '_y'), sort=True, how='inner')
join_outer = x.merge(y, left_index=True, right_index=True, suffixes=('_x', '_y'), sort=True, how='outer')

'''
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels.'''

In [168]:
# The left table values are preserved but the right table may have NaN values for values that couldn't join
join_left

,Random base_x,random factor_x,random add_x,random exponent_x,Random base_y,random factor_y,random add_y,random exponent_y
sample,,,,,,,,
3,0.311402,0.154805,0.418073,0.753292,0.311402,0.154805,0.418073,0.753292
3,0.311402,0.154805,0.418073,0.753292,0.311402,0.154805,0.418073,0.753292
6,0.865188,0.659125,1.258048,0.958358,0.865188,0.659125,1.258048,0.958358
...,...,...,...,...,...,...,...,...
25,0.886885,0.735960,0.998056,0.912972,0.886885,0.735960,0.998056,0.912972
26,0.260518,0.149890,0.561847,0.644476,0.260518,0.149890,0.561847,0.644476
26,0.260518,0.149890,0.561847,0.644476,0.260518,0.149890,0.561847,0.644476

In [169]:
# The right table values are preserved but the left table may have NaN values for values that couldn't join
join_right

,Random base_x,random factor_x,random add_x,random exponent_x,Random base_y,random factor_y,random add_y,random exponent_y
sample,,,,,,,,
1,NaN,NaN,NaN,NaN,0.001196,0.000564,0.482899,0.001570
1,NaN,NaN,NaN,NaN,0.001196,0.000564,0.482899,0.001570
1,NaN,NaN,NaN,NaN,0.001196,0.000564,0.482899,0.001570
...,...,...,...,...,...,...,...,...
29,NaN,NaN,NaN,NaN,0.945029,0.608312,1.842718,0.962441
29,NaN,NaN,NaN,NaN,0.945029,0.608312,1.842718,0.962441
29,NaN,NaN,NaN,NaN,0.945029,0.608312,1.842718,0.962441

In [ ]:
# Both table values are preserved but both tables may have NaN values for values that couldn't join
join_outer

NOTE: merge() also has an indicator parameter that stores metadata identifying the table the data came from originally.

# Duplication

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 14,
                     'k2': [0, 1, 0, 1, 1,
                            1, 0, 3, 1, 1,
                            0, 1, 3, 2, 1,
                            1, 0, 1, 1, 1,
                            3, 1, 2, 2, 1,
                            1, 0, 4]})
data

In [ ]:
data.duplicated() # Return boolean Series denoting (fully)duplicate rows

In [ ]:
data.drop_duplicates()

In [ ]:
data.drop_duplicates(subset='k2') # specify a column to drop duplicates

# Functional mappings

In [159]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

           food  ounces
0         bacon     4.0
1   pulled pork     3.0
2         bacon    12.0
..          ...     ...
6      pastrami     3.0
7     honey ham     5.0
8      nova lox     6.0

[9 rows x 2 columns]

In [161]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

data['grams'] = data['ounces'].map(lambda x: x*28.3495)

# map each food to the corresponding animal in the meat_to_animal dictionary
data['animal'] = data['food'].str.lower().map(meat_to_animal) 

# Converting all the strings in the 'food' columns to lowercase is done to ensure consistency because the keys in the meat_to_animal dictionary are all lowercase.
data

           food  ounces     grams  animal
0         bacon     4.0  113.3980     pig
1   pulled pork     3.0   85.0485     pig
2         bacon    12.0  340.1940     pig
..          ...     ...       ...     ...
6      pastrami     3.0   85.0485     cow
7     honey ham     5.0  141.7475     pig
8      nova lox     6.0  170.0970  salmon

[9 rows x 4 columns]

In [162]:
data['ounces'].map(lambda x : x*28.3495)

0    113.3980
1     85.0485
2    340.1940
       ...
6     85.0485
7    141.7475
8    170.0970
Name: ounces, Length: 9, dtype: float64

# fillna( )

In [61]:
df4 = pd.read_csv(filepath_or_buffer = 'examples/ex1.csv',
                  sep=',',
                  # lines containing headers.
                  # Sometimes they can be on multiple lines due to formatting (numbering starts from 0)
                  
                  header=0, 

                  # the names we want to use to index columns
                  names=['a', 'b', 'c', 'd', 'message'], 

                  # what is indexing the columns?
                  index_col='message', 

                  # Line numbers to skip (0-indexed) or number of lines to skip (int) at the start of the file.

                  # we don't skip any rows, only comments.
                  # But this is useful when columns and data separated by whitespace or metadata.
                  # Or if page breaks are in the data.
                  skiprows=0, 
                   
                   # Number of rows of file to read.

                   # we grab all the rows
                  nrows=3, 
                  
                  # Additional strings to recognize as NA/NaN. If dict passed, specific per-column NA values.

                  # what values from the files are actually not available or not expressible
                  na_values={'message': ['foo', 'NA'], 'a': ['1'], 'b': ['1'], 'c': ['1'], 'd': ['1']} 

                  # For the 'message' column, both 'foo' and 'NA' will be treated as missing values.
                  # For columns 'a', 'b', 'c', and 'd', the value '1' will be treated as missing.
                 )


'''skiprows=
The skiprows parameter in the pd.read_csv() function tells pandas how many rows at the beginning of the CSV file to skip before starting to read the data.

For example, if skiprows=2, pandas will ignore the first 2 rows of the CSV file and start reading from the third row onwards. This can be useful if your CSV file contains some metadata or information that you don't want to include in your DataFrame.

In the given code, skiprows=0, which means pandas will start reading the CSV file from the very beginning, without skipping any rows.'''

'''nrows=
 Specifies the number of rows of data to read from the CSV file, excluding the header or column names. It starts counting from the first row of actual data in the file, skipping any rows used for headers or metadata. '''

df4

           a   b   c   d
message
hello    NaN   2   3   4
world    5.0   6   7   8
NaN      9.0  10  11  12

In [62]:
df4 = pd.read_csv(filepath_or_buffer = 'examples/ex1.csv',
                  sep=',',
                  header=0, 
                  names=['a', 'b', 'c', 'd', 'message'], 
                  index_col='message', 
                  skiprows=0, 
                  nrows=3, 
                  na_values={'message': ['foo', 'NA'], 'a': ['1'], 'b': ['1'], 'c': ['1'], 'd': ['1']}
            )

df4

           a   b   c   d
message
hello    NaN   2   3   4
world    5.0   6   7   8
NaN      9.0  10  11  12

In [50]:
df4.fillna(0) # only applies to values, not indices

           a   b   c   d
message
hello    0.0   2   3   4
world    5.0   6   7   8
NaN      9.0  10  11  12

# replace( )

In [48]:
'''from numpy import NaN

df4.replace(NaN, 0)

The 2nd approach (below) is more recommendable
'''


'''Both of these code snippets achieve the same result of replacing NaN values with 0 in the DataFrame df4. However, the first approach may lead to potential namespace clashes if you're importing multiple objects from different modules into the global namespace. The second approach is generally more explicit and clearer in its usage of the np alias for accessing NaN.'''

df4.replace(np.NaN, 0) # Replacing a NaN value. Equivalent to last example.

           a   b   c   d
message
hello    0.0   2   3   4
world    5.0   6   7   8
NaN      9.0  10  11  12

In [72]:
# Replacing with a list of substitutes
df4.replace([np.NaN, 9], [0, 9000]).replace({12:-12})

              a   b   c   d
message
hello       0.0   2   3   4
world       5.0   6   7   8
NaN      9000.0  10  11 -12

# Binning

## pd.cut( )

In [83]:
df4['d']

message
hello     4
world     8
NaN      12
Name: d, dtype: int64

In [105]:
bins = [-100 -10, -5, 0, 5, 10, 100] #* notice -100 -10

pd.cut(df4["d"], bins, right=True, labels=None)

# right=
# Means the right number is included in the interval'''

#labels : array or False, default None
# Specifies the labels for the returned bins. Must be the same length as the resulting bins.'''

message
hello       (0, 5]
world      (5, 10]
NaN      (10, 100]
Name: d, dtype: category
Categories (5, interval[int64, right]): [(-110, -5] < (-5, 0] < (0, 5] < (5, 10] < (10, 100]]

In [113]:
df4

           a   b   c   d
message
hello    NaN   2   3   4
world    5.0   6   7   8
NaN      9.0  10  11  12

If cut() is passed an integer number of bins instead of a list of breaks, it will compute equal-length bins based on the minimum and maximum values in the data.

In [127]:
#Unlike before, we've now set bins for the category levels
a = pd.cut(df4["d"], 10, right=True, labels="a b c d e f g h i j".split(" "))
b = pd.cut(df4["d"], 10, right=True, labels=None)

(a, b)

(message
 hello    a
 world    e
 NaN      j
 Name: d, dtype: category
 Categories (10, object): ['a' < 'b' < 'c' < 'd' ... 'g' < 'h' < 'i' < 'j'],
 message
 hello    (3.992, 4.8]
 world      (7.2, 8.0]
 NaN      (11.2, 12.0]
 Name: d, dtype: category
 Categories (10, interval[float64, right]): [(3.992, 4.8] < (4.8, 5.6] < (5.6, 6.4] < (6.4, 7.2] ... (8.8, 9.6] < (9.6, 10.4] < (10.4, 11.2] < (11.2, 12.0]])

In [126]:
s = "a b c d e f g h i j"
s.split(" ")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

## pd.qcut( )

A related function, qcut(), bins the data based on sample quantiles. Quantiles are cut points that divide a probability distribution into chunks with specific uniform frequencies of occurrences. Similarly to cut() you can pass your own quantiles via values between 0 and 1.

# Permutations 

Permuting (randomly reordering) a Series or the rows in a DataFrame is easy to do using the numpy.random.permutation() function.

In [137]:
print(np.arange(5 * 4).reshape((5, 4)))

df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

df

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]]

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [138]:
sampler = np.random.permutation(5)

sampler

array([0, 4, 2, 3, 1])

In [139]:
df.take(sampler) # take the sample of rows

    0   1   2   3
0   0   1   2   3
4  16  17  18  19
2   8   9  10  11
3  12  13  14  15
1   4   5   6   7

In [140]:
df.sample(n=10, replace=True) # sample with replacement 10 rows

     0   1   2   3
3   12  13  14  15
0    0   1   2   3
2    8   9  10  11
..  ..  ..  ..  ..
2    8   9  10  11
3   12  13  14  15
0    0   1   2   3

[10 rows x 4 columns]